/*

Add styles or override variables from the theme here.

*/

  /*** Important ***/
  .tf-filter-item {
    display: none;
    
  }

  button.active {
    background-color: #ddd;
  }
  
  button.disable-button {
    border-style: dashed;
  }
  
  .show-item {
    display: inline-block;
  }

  /*** Aesthetics ***/
  section {
    margin-top: 18px !important;
  }
  .tf-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  .tf-item {
    width: 250px;
    margin: 8px;
    background: #fff;
    padding: 2rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 2px;
    margin-bottom: 2rem
    
    
  }

  .chroma {
    overflow-x: auto;
    padding: 4px;
    
  }

  .panel {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
  }
  
  .acc:after {
    content: '\02795';
    color: #fff;
    margin-left: 5px;
  }

  .acc.active:after {
      content: "\2796";
  }
  
  .navbtn {
    padding: 0.5rem!important;
    font-size: 90%!important;
    
  }
  .nava {
    text-transform: none;
    font-size: 90%!important;
  }

.td-navbar-cover .nav-link {
    color:aqua !important
}





  .td-navbar .nav-link {
    color: #000 !important;
  }
 .td-navbar-cover .nav-link {
   color: #ffff !important;
 }
/* Om JobTech Development */
 .bg {
   background-color: #faf8f8ef;
 }
 
/* startsidan*/

.button {
    
  background-color: #ffff; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  
}
div.col-4 {
  width: 100%;
  height:auto;
  padding: 0%;
  margin-top: 0px;
  margin-right: 0px;
  
  }


 .td-box .row {
  padding-left: 5vw;
  padding-right: 0px !important;
  flex-direction: row;
  
}

/* temporary*/
body {

  background-color: #faf8f8ef;
}

.tf-item {
  width: 100%;
  margin: 8px;
  background: #faf8f8ef;
  padding: 2rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
  border-radius: 2px;
  margin-bottom: 2rem
}

.filter-box {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ddd;
  color: #000;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 10px;

}

.content-products {

  margin: auto;
  width: 60%;  
  padding: 10px;
}
  @media screen and (max-width: 1500px){
   .content-products{
      width: 750px;
      font-size: 1.6em;
    }
  }

/* button products*/
.btn-products {
  display: flex;
  padding:0.3em 1.2em;
  margin: 0.6em 0.3em 0;
  border-radius: 2em; 
  box-sizing: border-box;
  text-decoration: none;   
  font-weight: 300px;
  color: #110f0f;
  background-color: #e8ebec;
  text-align: center;
  transition: all 0.2s;
  .btn-products:hover{
  background-color: bisque;
  }
  @media all and (max-width:30em){
   .btn-products{
      display: block;
      margin: 2em auto;
    }
  }
}

.name {
  width: 100px;
  align-items: baseline;
  padding-right: 2.0em;
  
 }

 .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 10px;
  row-gap: 10px;
  

}
/*aligns btn-products to namne*/
.align {
align-items: baseline;

}




