
body {

    background-color: #faf8f8ef;
}

.tf-item {
    width: 100%;
    margin: 8px;
    background: #faf8f8ef;
    padding: 2rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 2px;
    margin-bottom: 2rem
  }

  .filter-box {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ddd;
    color: #000;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 10px;

}
.content-products {

    margin: auto;
    width: 60%;  
    padding: 10px;
  }

  /* button products*/
.btn-products {
    display: inline-block;
    padding:0.3em 1.2em;
    margin: 0 0.3em 0;
    border-radius: 2em; 
    box-sizing: border-box;
    text-decoration: none;   
    font-weight: 300px;
    color: #110f0f;
    background-color: #e8ebec;
    text-align: center;
    transition: all 0.2s;
    .btn-products:hover{
    background-color: bisque;
    }
    @media all and (max-width:30em){
      .btn-products{
        display: block;
        margin: 2em auto;
      }
    }
