<style>
.bg-filter {
    background-color: rgb(155, 148, 148);
    border: solid;
   
}

</style>


<div class="container-fluid bg-filter">
<h4>Filter</h4>
<div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('api')"> Api</button>
    <button class="btn" onclick="filterSelection('opendata')"> Öppna data</button>
    <button class="btn" onclick="filterSelection('öppen källkod')"> Öppen källkod</button>
    <button class="btn" onclick="filterSelection('applikation')"> Applikation</button>
  </div>

</div>
<div class="container">
    <div class="filterDiv api">taxonomi</div>
    <div class="filterDiv colors fruits">Orange</div>
    <div class="filterDiv cars">Volvo</div>
    <div class="filterDiv colors">Red</div>
    <div class="filterDiv cars animals">Mustang</div>
    <div class="filterDiv colors">Blue</div>
    <div class="filterDiv animals">Cat</div>
    <div class="filterDiv animals">Dog</div>
    <div class="filterDiv fruits">Melon</div>
    <div class="filterDiv fruits animals">Kiwi</div>
    <div class="filterDiv fruits">Banana</div>
    <div class="filterDiv fruits">Lemon</div>
    <div class="filterDiv animals">Cow</div>
  </div>