<style>
.bg-filter {
    background-color: rgb(155, 148, 148);
    border: solid;
   
}

</style>


<div class="container-fluid bg-filter">
<h4>Filter</h4>
<div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('api')"> Api</button>
    <button class="btn" onclick="filterSelection('opendata')"> Öppna data</button>
    <button class="btn" onclick="filterSelection('öppen källkod')"> Öppen källkod</button>
    <button class="btn" onclick="filterSelection('applikation')"> Applikation</button>
  </div>

</div>

