<style>
.bg-filter {
    background-color: rgb(235, 225, 225);
    border: solid;
   
}

</style>


<div class="container-fluid bg-filter">
<h4>Filter</h4>
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="
  {{ range .Site.Taxonomies.filter.api }} 
  {{ .Title }}
  {{ .Description }}
{{ end }}"> API</button>


  <button class="btn" onclick="filterSelection('opendata')"> Öppna data</button>
  <button class="btn" onclick="filterSelection('opensour')"> Fruits</button>
  <button class="btn" onclick="filterSelection('colors')"> Colors</button>
</div>

</div>


  