<style>
.bg-filter {
    background-color: rgb(235, 225, 225);
    border: solid;
   
}
.btn {
    border: solid 2px;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 12px;
  }

  .grid-container {  
    display: grid;  
    grid-template-columns: 100px 100px, 100px, 100px;
    grid-gap: 32px;
    grid-auto-flow: dense;
    grid-template-rows: auto;
    
    }
    /* Single column display for phones */
@media (max-width: 459px) {
    .grid-container {
      display: flex;
      flex-direction: column;
    }
}

</style>



<div class="grid-container bg-filter">
<div>
<h4> Kategori</h4>
  <button class="btn" onclick="filterSelection('opendata')"> Öppna data</button>
  <button class="btn" onclick="filterSelection('opensource')"> Öppen Källkod</button>
  <button class="btn" onclick="filterSelection('policy')"> policy</button>
  <button class="btn" onclick="filterSelection('policy')"> Gränssnitt</button>
  <button class="btn" onclick="filterSelection('policy')"> Koncept</button>

<p>Typ
  <button class="btn" onclick="filterSelection('policy')"> Dataset</button>
  <button class="btn" onclick="filterSelection('policy')"> widget</button>
</p>
</div>

</div>


  