
<style>
.button{
background-color: black;
border-radius: 4px;
padding: 12px 24px;
font-size: 12px;


color: white

}
.bt_text {
color: white;}

.grid-container {  
display: grid;  
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr ));
grid-template-rows: repeat(2, 50px);
grid-gap: 32px;
grid-auto-flow: dense;

}
.link_right{
float: right;
width: ;

}



</style>

<div class="grid-container p-0 ml-0">  
     
    <a href="">Läs mer</a>      

 
    <div>
        <a class="link_right " href="">Teknisk dokumentation</a>
    </div>  
   
    <div>
        <a class="link_right" href="https://apirequest.jobtechdev.se/">Ansök om APInyckel</a>
    </div>  
  </div>


<!--

<div >
    <div class="row m-0">
        <div class="column">
            <button class="list_btn">
                <a class ="bt_text"href="">Läs mer</a>
            </button>
        </div>
        <div class="column">
            <a href="">Teknisk dokumentation</a>
        </div>
        <div class="column">
            <a href="">Ansök om en APInyckel</a>
        </div>
    </div>

</div>
-->



    