
<style>
.list_btn{
background-color: black;
border-radius: 4px;

}
.bt_text {
color: white;}

.container {  
    display: grid;  
    grid-template-columns: repeat(3, 100px);  
    grid-template-rows: repeat(1, 50px);  
}

</style>

<div class="container p">  
    <div>
        <button class="list_btn">
            <a class ="bt_text"href="">Läs mer</a>
        </button>

    </div>  
    <div>
        <a href="">Teknisk dokumentation</a>
    </div>  
   
    <div>
        <a href="">Ansök om en APInyckel</a>
    </div>  
  </div>


<!--

<div >
    <div class="row m-0">
        <div class="column">
            <button class="list_btn">
                <a class ="bt_text"href="">Läs mer</a>
            </button>
        </div>
        <div class="column">
            <a href="">Teknisk dokumentation</a>
        </div>
        <div class="column">
            <a href="">Ansök om en APInyckel</a>
        </div>
    </div>

</div>
-->



    