
<style>
.list_btn{
background-color: black;
border-radius: 4px;
pad
}
.bt_text {
color: white;}

.container {  
   
display: grid;  
grid-template-columns: repeat(auto-fit, minmax(90px, 1fr ));
grid-template-rows: repeat(2, 50px);
}
.link_right{
float: right;
padding-right: 15PX;;
padding-left: 15px;;
}

</style>

<div class="container p-0">  
    <div>
        <button class="list_btn">
            <a class ="bt_text"href="">Läs mer</a>
        </button>

    </div>  
    <div>
        <a class="link_right " href="">Teknisk dokumentation</a>
    </div>  
   
    <div>
        <a class="link_right" href="https://apirequest.jobtechdev.se/">Ansök om APInyckel</a>
    </div>  
  </div>


<!--

<div >
    <div class="row m-0">
        <div class="column">
            <button class="list_btn">
                <a class ="bt_text"href="">Läs mer</a>
            </button>
        </div>
        <div class="column">
            <a href="">Teknisk dokumentation</a>
        </div>
        <div class="column">
            <a href="">Ansök om en APInyckel</a>
        </div>
    </div>

</div>
-->



    