
<div class="container-fluid">
    <div class="row">
        {{ range where .Site.Pages "Section" "products"}}
        {{if eq .Parent.Title ($sect) }}
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12" style="padding:16px">
                <div >
                    <div class="title col-12">
                    {{ .Title}}

                    </div>

                    <div class="description">
                    <p>{{ .Description }}</p>
                    </div>
                    <footer class="">
                        <div class="row">
                        <a href="{{.RelPermalink}}" class="showcasebtn align-self-end">Read more</a>
                    </div>
                        {{ if isset .Params "consoleurl"  }}
                    <div class="row">
                        <a href="{{ .Params.consoleurl}}" class="showcasebtn align-self-end">Console</a>
                    </div>
                        {{end}}
                    </footer>
                </div>
            </div>
        {{ end }}
        {{ end }}
    </div>
</div>