/*

Add styles or override variables from the theme here.

*/

.button {
    background-color: #ffff; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
  }

  .td-navbar .nav-link {
    color: #000 !important;
  }
 .td-navbar-cover .nav-link {
   color: #ffff !important;
 }
/* Om JobTech Development */
 .bg {
   background-color: #faf8f8ef;
 }
 
div.col-4 {
  width: 100%;
  height:auto;
  padding: 0%;
  margin-top: -103px;
  margin-right: -50px;


}

 .td-box .row {
  padding-left: 5vw;
  padding-right: 0px !important;
  flex-direction: row;
}